.marker-cluster-small {
  background-color: #1192d7;
  color: rgb(14, 117, 234);
}

.marker-cluster-medium {
  background-color: #1192d7;
  color: rgb(14, 117, 234);
}

.marker-cluster-large {
  background-color: #1192d7;
  color: rgb(14, 117, 234);
}

.marker-cluster {
  background-color: #11cbd7;
  color: rgb(14, 117, 234);
}